[submodule "tmux-themepack"]
	path = tmux-themepack
	url = https://github.com/jimeh/tmux-themepack
[submodule "home/.zprezto"]
	path = home/.zprezto
	url = ../prezto
[submodule "vim-plug"]
	path = vim-plug
	url = https://github.com/junegunn/vim-plug
