*.pyc
.*.swp
__pycache__/
config/cmus/*.pl
config/cmus/*-history
config/cmus/resume
config/cmus/cache
config/cmus/cmusfm.conf
config/nvim/tmp
.zlocal
.netrwhist
config/nvim/config/99-local.vim
config/sway/local.conf.d
