[submodule "config/nvim/pack/bundle/start/vim-colorschemes"]
	path = config/nvim/pack/bundle/start/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule "config/nvim/pack/bundle/start/vim-flake8"]
	path = config/nvim/pack/bundle/start/vim-flake8
	url = https://github.com/nvie/vim-flake8
[submodule "config/nvim/pack/bundle/start/vim-better-whitespace"]
	path = config/nvim/pack/bundle/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "config/nvim/pack/bundle/start/vim-gitgutter"]
	path = config/nvim/pack/bundle/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "config/nvim/pack/bundle/start/vim-json"]
	path = config/nvim/pack/bundle/start/vim-json
	url = https://github.com/elzr/vim-json
[submodule "config/nvim/pack/bundle/start/vim-commentary"]
	path = config/nvim/pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "config/nvim/pack/bundle/start/vim-sensible"]
	path = config/nvim/pack/bundle/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "config/nvim/pack/bundle/start/python-syntax"]
	path = config/nvim/pack/bundle/start/python-syntax
	url = https://github.com/hdima/python-syntax
[submodule "config/nvim/pack/bundle/start/vim-sleuth"]
	path = config/nvim/pack/bundle/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "config/nvim/pack/bundle/start/vim-javascript"]
	path = config/nvim/pack/bundle/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "config/nvim/pack/bundle/start/vim-jsx"]
	path = config/nvim/pack/bundle/start/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "config/nvim/pack/bundle/start/vim-bufkill"]
	path = config/nvim/pack/bundle/start/vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill
[submodule "config/nvim/pack/bundle/start/fzf.vim"]
	path = config/nvim/pack/bundle/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "config/nvim/pack/bundle/start/fzf"]
	path = config/nvim/pack/bundle/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "config/nvim/pack/bundle/start/rust.vim"]
	path = config/nvim/pack/bundle/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "config/nvim/pack/bundle/start/vim-graphql"]
	path = config/nvim/pack/bundle/start/vim-graphql
	url = https://github.com/jparise/vim-graphql
[submodule "config/nvim/pack/bundle/start/ultisnips"]
	path = config/nvim/pack/bundle/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "config/nvim/pack/bundle/start/editorconfig-vim"]
	path = config/nvim/pack/bundle/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "config/nvim/pack/bundle/start/vader.vim"]
	path = config/nvim/pack/bundle/start/vader.vim
	url = https://github.com/junegunn/vader.vim
[submodule "config/nvim/pack/bundle/start/vim-snippets"]
	path = config/nvim/pack/bundle/start/vim-snippets
	url = ../vim-snippets
	branch = private
[submodule "config/nvim/pack/bundle/start/ale"]
	path = config/nvim/pack/bundle/start/ale
	; url = https://github.com/w0rp/ale
	url = https://github.com/jeremija/ale
[submodule "config/nvim/pack/bundle/start/vim-jsx-typescript"]
	path = config/nvim/pack/bundle/start/vim-jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript
[submodule "config/nvim/pack/bundle/start/vim-backslash"]
	path = config/nvim/pack/bundle/start/vim-backslash
	url = https://github.com/lambdalisue/vim-backslash
[submodule "config/nvim/pack/bundle/start/yats.vim"]
	path = config/nvim/pack/bundle/start/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim
[submodule "config/nvim/pack/bundle/start/goyo.vim"]
	path = config/nvim/pack/bundle/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "config/nvim/pack/bundle/start/diffchar.vim"]
	path = config/nvim/pack/bundle/start/diffchar.vim
	url = https://github.com/rickhowe/diffchar.vim
[submodule "config/nvim/pack/bundle/start/vim-dirdiff"]
	path = config/nvim/pack/bundle/start/vim-dirdiff
	url = https://github.com/jeremija/vim-dirdiff
[submodule "config/nvim/pack/bundle/start/nvim-tree.lua"]
	path = config/nvim/pack/bundle/start/nvim-tree.lua
	url = https://github.com/kyazdani42/nvim-tree.lua
[submodule "config/nvim/pack/bundle/start/nvim-web-devicons"]
	path = config/nvim/pack/bundle/start/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons
[submodule "config/nvim/pack/bundle/start/nvim-lspconfig"]
	path = config/nvim/pack/bundle/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "config/nvim/pack/bundle/start/vim-abolish"]
	path = config/nvim/pack/bundle/start/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "config/nvim/pack/bundle/start/fidget.nvim"]
	path = config/nvim/pack/bundle/start/fidget.nvim
	url = https://github.com/j-hui/fidget.nvim
[submodule "config/nvim/pack/bundle/start/nvim-gdb"]
	path = config/nvim/pack/bundle/start/nvim-gdb
	url = https://github.com/sakhnik/nvim-gdb
[submodule "config/nvim/pack/bundle/start/fzf-lua"]
	path = config/nvim/pack/bundle/start/fzf-lua
	url = https://github.com/ibhagwan/fzf-lua
