#!/bin/sh

# set defaults
export EDITOR=vim
export VISUAL=vim
export SUDO_EDITOR=$EDITOR
export TERMINAL=termite
export BROWSER=firefox
export QT_STYLE_OVERRIDE=GTK+
export XDG_CONFIG_HOME="$HOME/.config"
export $(dbus-launch)

# read .Xresources file
xrdb -m ~/.Xresources
xmodmap ~/.Xmodmap

# mouse sensitivity
# xset m 3/2 1
# keyboard repeat rate
# xset r rate 100 50

# enable right click with two fingers
xinput set-button-map "SynPS/2 Synaptics TouchPad" 1 3 2 4 5 6 7
# disable touchpad
# xinput set-int-prop "SynPS/2 Synaptics TouchPad" "Device Enabled" 8 0
# set scroll with right mouse button, instead of the first
# xinput set-prop "TPPS/2 IBM TrackPoint" "libinput Button Scrolling Button" 3

# xrandr --output HDMI-0 --left-of DVI-D-0 --primary
xrandr --output HDMI-1 --left-of DVI-D-1 --primary

# disable screen blanking
xset dpms 0 0 0
xset s off

# gnome-keyring-daemon
eval $(ssh-agent)
export SSH_AUTH_SOCK

# run xbindkeys
xbindkeys

~/scripts/redshift/redshift.sh reread

case $DESKTOP_SESSION in
  plasma|xfce)
  ;;
  *)
    parcellite &
    # enable network manager and bluetooth applets
    nm-applet &
    blueman-applet &
    # compositing manager
    picom --backend glx &
    # lock the screen when going to suspend
    xss-lock ~/.i3/lock.sh &
    xautolock -locker ~/.i3/lock.sh -time 10 -secure &

    # restore wallpaper
    nitrogen --restore

    # fix default X cursor
    xsetroot -cursor_name left_ptr
  ;;
esac
