#!/bin/sh

# set defaults
export EDITOR=vim
export VISUAL=vim
export SUDO_EDITOR=$EDITOR
export TERMINAL=termite
export BROWSER=$HOME/bin/firefox
export XDG_CONFIG_HOME="$HOME/.config"
# export $(dbus-launch)
export NO_AT_BRIDGE=1

# read .Xresources file
xrdb -m ~/.Xresources
setxkbmap -option altwin:swap_alt_win
xmodmap ~/.Xmodmap

# mouse sensitivity
# xset m 3/2 1
# keyboard repeat rate
# xset r rate 100 50
xset r rate 200 25

# enable right click with two fingers
xinput set-button-map "SynPS/2 Synaptics TouchPad" 1 3 2 4 5 6 7
# disable touchpad
# xinput set-int-prop "SynPS/2 Synaptics TouchPad" "Device Enabled" 8 0
# set scroll with right mouse button, instead of the first
# xinput set-prop "TPPS/2 IBM TrackPoint" "libinput Button Scrolling Button" 3

# disable screen blanking
xset dpms 600 600 600
xset s off

# gnome-keyring-daemon

~/scripts/redshift/redshift.sh reread

case $DESKTOP_SESSION in
  KDE)
    export QSG_RENDER_LOOP=basic
    sxhkd -c ~/.config/sxhkd/sxhkdrc.kde &
  ;;
  plasma|xfce)
    sxhkd -c ~/.config/sxhkd/sxhkdrc.kde &
  ;;
  *)
    if [[ "$DESKTOP_SESSION" == *bspwm ]]; then
      sxhkd &
    fi

    # export QT_STYLE_OVERRIDE=GTK+
    export QT_QPA_PLATFORMTHEME=qt5ct

    xbindkeys

    nm-applet --indicator &
    # use sddm and /etc/systemd/logind.conf for power settings.
    # xfce4-power-manager
    cbatticon &

    # clipboard manager
    copyq &
    # disable storing clipboard history
    copyq disable
    # enable network manager and bluetooth applets
    # nm-applet &
    # blueman-applet &
    # compositing manager
    picom --backend glx &

    pasystray &

    # launch notification daemon
    dunst &

    # lock the screen when going to suspend
    xss-lock -n /usr/lib/xsecurelock/dimmer -l -- xsecurelock &

    # xrandr --output DP-1 --left-of DP-2
    # restore wallpaper
    nitrogen --restore

    # fix default X cursor
    xsetroot -cursor_name left_ptr
  ;;
esac
